{% extends 'template.html' %}
{% block title %}
<title>Members</title>
{% endblock title %}
{% block section %}
<div class="container position-relative">
  <h3>Members</h3>
  <p>
    <form action={% url 'members' %}>
      {{form}}
      <button>Search</button>
    </form>
  </p>
  <p>
    <table cellspacing="0" align="center">
      <thead>
      <tr style="height:50px">
        <td style="color:black"><b>Name</b></td>
        <td style="color:black"><b>Bike</b></td>
        <td style="color:black"><b>Buy Date</b></td>
        <td style="color:black" colspan="3"><b>Actions</b></td>
      </tr>
      </thead>
      {% if members %}
          {% for member in members %}
          <tr style="height:30px">
            <td>{{member.name}}</td>
            <td>{{member.bike}}</td>
            <td>{{member.buy_date}}</td>
            <td><a href={% url 'show_member' member.id %}><b>Show</b></a></td>
            <td><a href={% url 'edit_member' member.id %}><b>Edit</b></a></td>
            <td><a href={% url 'delete_member' member.id %}><b>Delete</b></a></td>
          </tr>
          {% endfor %}
      {% else %}
      >> Member not found.
      {% endif %}
    </table>
  </p>
<p>
  <form action={% url 'add_member' %} method="post">
    {% csrf_token %}
    <button>Add member</button>
  </form>
</p>
{% endblock section %}
