{% extends 'template.html' %}
{% block title %}
<title>Edit Post</title>
{% endblock title %}
{% block section %}
<h3>Edit Post</h3>
<p>
    <form action={% url 'edit_post' object.id %} method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table  cellspacing="0" align="center">
            {{form.media}}
            {{form.as_table}}
        </table><br>
        <button>Confirm</button>
    </form>
</p>
<p>
    <a href={% url 'posts' %}>Back</a>
</p>
{% endblock section %}