{% extends 'template.html' %}
{% block title %}
<title>Show Post</title>
{% endblock title %}
{% block section %}
    <table class="container">
        <td class="post container">
            <h5 style=color:brown>{{object.title}}</h5>
            Posted: {{object.creation_date}}<br><br>
            <h5>{{object.subtitle}}</h5><br>
            <img src={{object.image.url}} height="350px"><br><br>
            {{object.content | safe}}
            <p style=color:brown>Published by {{object.author}}</p>
        </td>
    </table>
    <p>
        <br><a href={% url 'posts' %}><b>Back<b></a>
    </p>
{% endblock section %}