{% extends 'template.html' %}
{% block title %}
<title>Profile edition</title>
{% endblock title %}
{% block section %}
<h1>
    Profile edition: {{request.user.username}}
</h1>
<p>
    <form action={% url 'edit_profile' %} method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table cellspacing="0" align="center">
            {{form.as_table}}
        </table><br>
        <button>Confirm</button>
    </form>
    <p><br><a href={% url 'change_password' %}>Change password</a></p>
    <p><a href={% url 'index' %}>Back</a></p>
</p>
{% endblock section %}