{% extends 'template.html' %}
{% block title %}
<title>User profile</title>
{% endblock title %}
{% block section %}
<h2>
    User profile: {{request.user.username}}
</h2>
<p>
    <li>First name: {{request.user.first_name}}</li>
    <li>Last name: {{request.user.last_name}}</li>
    <li>Email: {{request.user.email}}</li>
    <li>Avatar:
        {% if request.user.moreuserinfo.avatar %}
        <img src={{request.user.moreuserinfo.avatar.url}} alt="" height="200px">
        {% endif %}
    </li>
</p>
<p>
    <a href={% url 'edit_profile' %}><b>Edit my info</b></a>
</p>
<p>
    <a href={% url 'index' %}><b>Back</b></a>
</p>
{% endblock section %}