{% extends 'template.html' %}
{% block title %}
<title>About</title>
{% endblock title %}
{% block section %}
<br><br><br><br><br>
<h4>Este blog es el nuevo sitio sobre motos más importante de Argentina, sera un motoclub blog con post y fotos subidos por los miembros.<br>
    <br>Nació de la idea de un miembro del equipo que disfruta de viajar en moto.<br>
    <br>Está dirigido tanto a moteros como así también a los fanáticos del mundo en 2 ruedas.</h4>
    <br><br><br><br><br>
{% endblock section %}