<!DOCTYPE html>
{% extends 'template.html' %}
<html lang="en">
    <head>
        {% comment %} {% load static %} {% endcomment %}
        {% block title %}
        <title>About</title>
        {% endblock title %}

    </head>
    <body>
        {% block section %}
        <h6>Este blog es el nuevo sitio sobre motos más importante de Argentina, sera un motoclub blog con post y fotos subidos por los miembros.<br>
            <br>Nació de la idea de un miembro del equipo que dsifruta de viajar en moto.<br>
            <br>Está dirigido tanto a moteros como así también a los fanáticos del mundo en 2 ruedas.</h6>
        {% endblock section %}
    </body>
</html>
