{% extends 'template.html' %}
<html lang="en">
    <head>
        {% block title %}
        <title>Contact</title>
        {% endblock title %}

    </head>
    <body>
        {% block section %}
        <h4>Team:</h4><br>
        <li>Jonatan Frean</li>
        Email <br>ig
        <br><br>
        <li>Jonas Zlatkis</li>
        Email <br>ig
        <br><br>
        <li>Jorge Martinez</li>
        Email: martinezjam@gmail.com,<br>
        ig: jorgemartinez555
        {% endblock section %}
    </body>
</html>
