{% extends 'template.html' %}
<html lang="en">
    <head>
        {% block title %}
        <title>Edit</title>
        {% endblock title %}

    </head>
    <body>
        {% block section %}
        <h4>
            Edit Member
        </h4>
        <p>
            <form action={% url 'edit_member' member.id %} method="post">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <button>Edit</button>
            </form>
        </p>
        
        <p>
            <a href={% url 'members' %}>Back</a>
        </p>
        {% endblock section %}
    </body>
</html>