{% extends 'template.html' %}
<html lang="en">
    <head>
        {% block title %}
        <title>Show</title>
        {% endblock title %}

    </head>
    <body>
        {% block section %}
        <h4>
            Show Member
        </h4>
        <p>
            - {{member.name}}
            <br>
            - {{member.bike}}
            <br>
            - {{member.buy_date}}
        </p>
        <p>
            <a href={% url 'members' %}>Back</a>
        </p>
        {% endblock section %}
    </body>
</html>